<ul>
    <li><a href="{{ '/' | url }}">Home</a></li>
    <li><a href="{{ '/style' | url }}">Styling</a></li>
    <li><a href="{{ '/blog' | url }}">Archive</a></li>
    <li><a href="{{ '/about' | url }}">About</a></li>
</ul>